{% extends 'base.html' %}

{% block content %}
<h2>Informe de Cliente</h2>
<p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
<p><strong>Apellido Paterno:</strong>{{ cliente.apellido_paterno }}</p>
<p><strong>Apellido Materno:</strong>{{ cliente.apellido_materno }}</p>
<p><strong>DNI:</strong> {{ cliente.dni }}</p>
<p><strong>Servicio:</strong> {{ cliente.servicio }}</p>
<p><strong>Fecha de inicio:</strong> {{ cliente.fecha_inicio }}</p>
<p><strong>Deuda Actual:</strong> {{ deuda_actual }}</p>
<p><strong>Fecha del Siguiente Pago:</strong> {{ siguiente_pago }}</p>

<h3>Historial de Pagos</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha de Pago</th>
            <th>Monto Pagado</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.fecha_pago }}</td>
            <td>{{ pago.monto_pagado }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay pagos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'descargar_informe_pdf' cliente.id %}" class="btn btn-primary">Descargar Informe en PDF</a>
<a href="{% url 'listar_clientes' %}" class="btn btn-secondary">Volver</a>

{% endblock %}